name: build-and-test-macos
on: push
jobs:
  build-and-test:
    runs-on: macos-12
    steps:
      - name: Git checkout
        uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.17

      - run: go version
