name: build-and-test-macos
on: push
jobs:
  build-and-test:
    runs-on: macos-12
    steps:
      - name: Git checkout
        uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.17

#      - run: go build ./cmds/kcl-go
#      - run: go run ./cmds/kcl-go

#      - run: go run ./cmds/kcl-go setup-kclvm -triple=Darwin -outdir=${HOME}/.kclvm-go
#      - run: echo "${HOME}/.kclvm-go/Darwin/bin" >> $GITHUB_PATH

#      - run: which kclvm || which python3
#      - run: which kcl
#      - run: kcl --version || true

#      - run: go test ./...
