name: build-and-test-macos
on:
  pull_request:
  push:
    branches:
      - main
      - "releases/*"
jobs:
  build-and-test:
    runs-on: macos-12
    steps:
      - name: Git checkout
        uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.17

      - run: go run ./cmds/kcl-go run hello.k
      - run: go test ./...
